{% load extras %}
{% load static %}

<!doctype html>
  <html>
	<head>
		<link rel="stylesheet" href="{% static 'css/core.css' %}">
    	<meta charset="utf-8">
    <title>Basic Decision</title>
    </head>
 
    <body>

	    <table>
	    	<tr>
	    		<th>Альтернатива</th>
	    		{% for vector in marks|get_item:alternatives.0 %}
		    		<th>
		    			{{ vector.mark.criterion.name }}
		    		</th>
		    	{% endfor %}	
		    	<th>Свертка</th>
	    	</tr>

	    	{% for alternative in alternatives %}
	    	<tr>
	    		<td>{{ alternative }}</td>
	    		{% for vector in marks|get_item:alternative %}
	    			<td>{{ vector.mark.name }}</td>
	    		{% endfor %}
	    		<td>{{ results|get_item:alternative }}</td>
	    	</tr>

	    	{% endfor %}

	    	<tr>
	    		<th>Весы</th>
	    		{% for vector in marks|get_item:alternatives.0 %}
	    			{% if vector.mark.criterion.weight != None %}
		    		<th>
		    			{{ vector.mark.criterion.weight }}
		    		</th>
		    		{% else %}
		    		<th>-</th>
		    		{% endif %}
		    	{% endfor %}	
	    	</tr>
	    </table>

	    <br>
	    <br>

	    <table>
	    	<tr>
	    		<th>Альтернатива</th>
	    		{% for vector in marks|get_item:alternatives.0 %}
		    		<th>
		    			{{ vector.mark.criterion.name }}
		    		</th>
		    	{% endfor %}	
		    	<th>Свертка</th>
	    	</tr>

	    	{% for alternative in alternatives %}
	    	<tr>
	    		<td>{{ alternative }}</td>
	    		{% for vector in marks|get_item:alternative %}
	    			<td>{{ vector.mark.normalized }}</td>
	    		{% endfor %}
	    		<td>{{ results|get_item:alternative }}</td>
	    	</tr>

	    	{% endfor %}

	    	<tr>
	    		<th>Весы</th>
	    		{% for vector in marks|get_item:alternatives.0 %}
	    			{% if vector.mark.criterion.weight != None %}
		    		<th>
		    			{{ vector.mark.criterion.weight }}
		    		</th>
		    		{% else %}
		    		<th>-</th>
		    		{% endif %}
		    	{% endfor %}	
	    	</tr>
	    </table>


    </body>
 </html>
