{% load extras %}
{% load static %}

<!doctype html>
  <html>
	<head>
		<link rel="stylesheet" href="{% static 'css/core.css' %}">
    	<meta charset="utf-8">
    <title>Basic Decision</title>
    </head>
 
    <body>

	    <table>
	    	<tr>
	    		<th>Альтернатива</th>
	    		{% for vector in marks|get_item:alternatives.0 %}
		    		<th>
		    			{{ vector.mark.criterion.name }}
		    		</th>
		    	{% endfor %}	
	    	</tr>

	    	{% for alternative in alternatives %}
	    	<tr>
	    		<td>{{ alternative }}</td>
	    		{% for vector in marks|get_item:alternative %}
	    			<td>{{ vector.mark.name }}</td>
	    		{% endfor %}
	    	</tr>

	    	{% endfor %}
	    </table>

	    {% if quality_check %}
		    <p>Все качественные оценки проранжированны</p>
		    <a href="{% url 'core:paretto_view' %}">Дальше</a>	
	    {% else %}
	    	<p>Не все качественные оценки проранжированны</p>
	    	{% for link in quality_urls %}
		    	<a href={{ link.link }} target="_blank">{{ link.mark.criterion.name }} : {{ link.mark.name }}</a>
		    	<br>
		    {% endfor %}
		{% endif %}

		
	    
    </body>
 </html>
