{% load extras %}
{% load static %}

<!doctype html>
  <html>
	<head>
		<link rel="stylesheet" href="{% static 'css/core.css' %}">
    	<meta charset="utf-8">
    <title>Basic Decision</title>
    </head>
 
    <body>

	    <table>
	    	{% for alternative in alternatives %}

	    	<tr>
	    		<td>{{ alternative }}</td>
	    		{% for vector in marks|get_item:alternative %}
	    			<td>{{ vector.mark.name }}</td>
	    		{% endfor %}
	    	</tr>

	    	{% endfor %}
	    </table>

	    <br>
	    <br>

	    <table>
	    	{% for alternative in alternatives %}

	    	<tr>
	    		<td>{{ alternative }}</td>
	    		{% for vector in marks|get_item:alternative %}
	    			<td>{{ vector.mark.normalized }}</td>
	    		{% endfor %}
	    	</tr>

	    	{% endfor %}
	    </table>

	    <br>
	    <br>

	    {% if is_normalized %}
	    <p>Данные нормализованы</p>
	    <a href="{% url 'core:weights_view' %}">Дальше</a>
	    
	    {% else %}
	    <p>Данные не нормализованы</p>
	    <a href="{% url 'core:normalized_view' 'yes' %}">Нормализовать</a>
	    {% endif %}

    </body>
 </html>
