{% load extras %}
{% load static %}

<!doctype html>
  <html>
	<head>
		<link rel="stylesheet" href="{% static 'css/core.css' %}">
    	<meta charset="utf-8">
    <title>Basic Decision</title>
    </head>
 
    <body>

	    <table>
	    	<tr>
	    		<th>Альтернатива</th>
	    		{% for vector in marks|get_item:alternatives.0 %}
		    		<th>
		    			{{ vector.mark.criterion.name }}
		    		</th>
		    	{% endfor %}	
	    	</tr>

	    	{% for alternative in alternatives %}
	    	<tr>
	    		<td>{{ alternative }}</td>
	    		{% for vector in marks|get_item:alternative %}
	    			<td>{{ vector.mark.name }}</td>
	    		{% endfor %}
	    	</tr>

	    	{% endfor %}

	    	<tr>
	    		<th>Весы</th>
	    		{% for vector in marks|get_item:alternatives.0 %}
	    			{% if vector.mark.criterion.weight != None %}
		    		<th>
		    			{{ vector.mark.criterion.weight }}
		    		</th>
		    		{% else %}
		    		<th>-</th>
		    		{% endif %}
		    	{% endfor %}	
	    	</tr>
	    </table>

	    <br>
	    <br>

	    {% if weights_check %}
	    <p>Весовые коеффициенты для всех критериев заданы</p>
	    {% else %}
	    <p>Весовые коеффициенты заданы не для всех критериев</p>
	    {% for link in weights_urls %}
	    	<a href={{ link.url }} target="_blank">{{ link.name }}</a>
	    	<br>
	    {% endfor %}
	    {% endif %}

	    <br>
	    {%  if weights_check %}
	    <a href="{% url 'core:convolution_view' %}">Дальше</a>
	    {% endif %}

    </body>
 </html>
